strong{
	color: #FFD093;
	text-shadow: #3E2400 0 0 1rem;
}

img.raw{
	border: none !important;
	background: none !important;
	box-shadow: none !important;
}

.large{
	width: 50%;
	height: auto;
}
.full-width{
	width: 800px;
	height: auto;
}
.full-height{
	height: 500px;
	width: auto;
}
.full-height code{
	height: calc(100% - 10px);
	max-height: none !important;
}

ico{
	font-size: 4rem;
	vertical-align: middle;
}

pre{
	font-size: 1.3rem !important;
}
code{
	font-family: consolas !important;
}

.fragment.switch{
	display: none;
}
.fragment.switch.current-fragment{
	display: block;
}